<div><h2 class="head">Team Details</h2></div>

<div class="left" style="left: 200px;">
<h3 style="text-align: center;">Pawan's Details</h3>
<div style="text-align: center;"><span>Name: </span>Pawan Kumar</div>
<div style="text-align: center;"><span>Email: </span>pawankumar@cse.iitb.ac.in</div>
<div style="text-align: center;"><span>Roll No.: </span>190050080</div>
</div>

<div class="right" style="right: 200px;">
<h3 style="text-align: center;">Shambhavi's Details</h3>
<div style="text-align: center;"><span>Name: </span>Shambhavi Pardhi</div>
<div style="text-align: center;"><span>Email: </span>shambhavi@cse.iitb.ac.in</div>
<div style="text-align: center;"><span>Roll No.: </span>190050112</div>
</div>